<p id="notice"><%= notice %></p>

<h1>Listing Blog Contents</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Blog</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_contents.each do |blog_content| %>
      <tr>
        <td><%= blog_content.content %></td>
        <td><%= blog_content.blog_id %></td>
        <td><%= link_to 'Show', blog_content %></td>
        <td><%= link_to 'Edit', edit_blog_content_path(blog_content) %></td>
        <td><%= link_to 'Destroy', blog_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog content', new_blog_content_path %>
