<%= render 'nav'%>

<div>
  <h1><%=@article.title%></h1>
  <p>Published <%= @article.created_at.strftime('%b %d, %Y')%></p>
  <p>
      File under :  <% @article.categories.each do |category| %>
                      <%= category.name %> &nbsp;
                    <% end %>
  </p>
  <p><%=@article.content%></p>
</div>