<p id="notice"><%= notice %></p>

<p>
  <strong>Menu:</strong>
  <%= @menu_item.menu.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @menu_item.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @menu_item.url %>
</p>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %> |
<%= link_to 'Menu List', menus_path %>