<%= form_for(@shipment) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_name %><br>
    <%= f.text_field :customer_name %>
  </div>
  
  <p>Lines</p>
  <ul>
    <%= f.fields_for :shipmentLines do |lines_form| %>
      <li>
        <%= lines_form.label :line_no %>
        <%= lines_form.text_field :line_no %>
        <%= lines_form.label :item_id %>
        <%= lines_form.text_field :item_id %>
        <%= lines_form.label :quantity %>
        <%= lines_form.text_field :quantity %>
        
      </li>
    <% end %>
  </ul>
  
   <p>Charges</p>
   
     <ul>
    <%= f.fields_for :charges do |charges_form| %>
      <li>
        <%= charges_form.label :carrier_account %>
        <%= charges_form.text_field :carrier_account %>
        <%= charges_form.label :freight_term %>
        <%= charges_form.text_field :freight_term %>
        <%= charges_form.label :estimated_shipment_charge %>
        <%= charges_form.number_field :estimated_shipment_charge %>
        <%= charges_form.label :actual_shipment_charge %>
        <%= charges_form.number_field :actual_shipment_charge %>
        <%= charges_form.label :freight_charge %>
        <%= charges_form.text_field :freight_charge %>
      </li>
    <% end %>
  </ul>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
