<%= form_for(@shipment) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_name %><br>
    <%= f.text_field :customer_name %>
  </div>
  <br/>
  <p><strong>Lines</strong></p> 
  <table class="table table-striped">
    <thead>
      <tr>
        <td>line_no </td>
        <td>item_id </td>
        <td>quantity</td>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :shipmentLines do |lines_form| %>
        <tr>
          <td><%= lines_form.text_field :line_no %></td>
          <td><%= lines_form.text_field :item_id %></td>
          <td><%= lines_form.text_field :quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
 <p>Charges</p>
 
  <%= f.fields_for :charges do |charges_form| %>
      <%= charges_form.label :carrier_account %>
      <%= charges_form.text_field :carrier_account %><br/>
      <%= charges_form.label :freight_term %>
      <%= charges_form.text_field :freight_term %><br/>
      <%= charges_form.label :estimated_shipment_charge %>
      <%= charges_form.number_field :estimated_shipment_charge %><br/>
      <%= charges_form.label :actual_shipment_charge %>
      <%= charges_form.number_field :actual_shipment_charge %><br/>
      <%= charges_form.label :freight_charge %>
      <%= charges_form.text_field :freight_charge %>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
